mj-section(padding-bottom='0')
    mj-column(width='240px')
        mj-image(width='120px' alt='logo Ecosup-Campus' src='https://img.mailinblue.com/3403292/images/content_library/original/660d606e373b24d832a39719.png')/
        mj-text(font-size='12px' line-height='16px' font-weight='400' color='#2D3748' align='center' padding-top='0' padding-bottom='0')
            div 17 place Charles et Albert Roussel
            div(style='text-transform:uppercase') tourcoing
            div: a(style='color:#2D3748;text-decoration:none;font-weight:700;' href='tel:0320700606') Tél. 03.20.07.06.06
            div: a(style='color:#2D3748;text-decoration:none;' href='mailto:contact@ecosup-campus.fr') contact@ecosup-campus.fr