//- Colonnes
mj-section(background-color='#ffffff')
    //- 1ère Colonne
    mj-column(width='50%' padding='10px')
        mj-text(align='center' container-background-color='#0cc0df' padding-top='30px' font-size='22px' font-weight='700' line-height='120%' color='#ffffff') Formation Initiale ou Continue
        //- Paragraphe 1
        mj-image(align='center' padding-top='10px' container-background-color='#0cc0df' width='60px' src='https://i.ibb.co/qYbbY9B/personnage.png')
        mj-text(align='center' padding-top='4px' container-background-color='#0cc0df' font-size='14px' font-weight='700' line-height='120%' color='#082d64') Personnes agées de #[span(style='color:#ffffff') 17 ans minimum] souhaitant faire #[span(style='color:#ffffff') une formation courte] ou ne rentrant pas dans les #[span(style='color:#ffffff') critères de l'alternance]
        //- Paragraphe 2
        mj-image(align='center' padding-top='10px' container-background-color='#0cc0df' width='60px' src='https://i.ibb.co/dfVmJnJ/euro.png')
        mj-text(align='center' padding-top='4px' container-background-color='#0cc0df' font-size='14px' font-weight='700' line-height='120%' color='#082d64') Formation payante avec possibilité de #[span(style='color:#ffffff') financement] ou #[span(style='color:#ffffff') co-financement]
        //- Paragraphe 3
        mj-image(align='center' padding-top='10px' container-background-color='#0cc0df' width='60px' src='https://i.ibb.co/ctV452X/coins.png')
        mj-text(align='center' padding-top='4px' container-background-color='#0cc0df' font-size='14px' font-weight='700' line-height='120%' color='#082d64') #[span(style='color:#ffffff') Indemnisation] possible par l'organisme de financement
        //- Paragraphe 4
        mj-image(align='center' padding-top='25px' container-background-color='#0cc0df' width='60px' src='https://i.ibb.co/fq6cDdr/chrono.png')
        mj-text(align='center' padding-top='4px' container-background-color='#0cc0df' font-size='14px' font-weight='700' line-height='120%' color='#082d64') Périodes de #[span(style='color:#ffffff') stage en entreprises] au cours de votre cursus 
        mj-text(container-background-color='#0cc0df' font-size='14px' font-weight='700' line-height='120%' color='#082d64') *A condition de disposer de minimum 500€ sur votre Compte Personnel de Formation
        mj-text(container-background-color='#0cc0df' font-size='14px' font-weight='700' line-height='120%' color='#082d64') Pour consulter votre solde, rendez-vous sur la page #[a(style='color:#ffffff' href='https://www.moncompteformation.gouv.fr/') www.moncompteformation.gouv.fr]
        mj-image(align='center' fluid-on-mobile='true' padding='0' width='480px' src='https://i.ibb.co/qskT6FF/fondBas.png')/
        //- Hors cartouche
        mj-image(align='center' padding-top='10px' width='35px' src='https://i.ibb.co/8xtLKPp/calendar.png')
        mj-text(align='center' font-size='14px' font-weight='700' line-height='120%' color='#124ea8') Rentrée le 5 septembre 2024 !
    //- 2e Colonne 
    mj-column(width='50%' padding='10px')
        mj-text(align='center' container-background-color="#0cc0df" padding-top='30px' font-size='22px' font-weight='700' line-height='120%' color="#ffffff") Formation en Apprentissage
        //- Paragraphe 1 
        mj-image(align='center' padding-top='10px' container-background-color="#0cc0df" width='60px' src='https://i.ibb.co/qYbbY9B/personnage.png')
        mj-text(align='center' padding-top='4px' container-background-color="#0cc0df" font-size='14px' font-weight='700' line-height='120%' color='#082d64') Personnes agées de #[span(style='color:#ffffff') moins de 29 ans]
        //- Paragraphe 2 
        mj-image(align='center' padding-top='60px' container-background-color='#0cc0df' width='60px' src='https://i.ibb.co/1QWv74c/euro-not.png')
        mj-text(align='center' padding-top='4px' container-background-color="#0cc0df" font-size='14px' font-weight='700' line-height='120%' color='#082d64') Formation #[span(style='color:#ffffff') 100% gratuite]
        //- Paragraphe 3
        mj-image(align='center' padding-top='45px' container-background-color='#0cc0df' width='60px' src='https://i.ibb.co/ctV452X/coins.png')
        mj-text(align='center' padding-top='4px' container-background-color="#0cc0df" font-size='14px' font-weight='700' line-height='120%' color='#082d64') Rémunération de #[span(style='color:#ffffff') 27% à 100% du SMIC en fonction de votre âge]                                                                                                                                                                                                                                                                            
        //- Paragraphe 4 
        mj-image(align='center' padding-top='10px' container-background-color='#0cc0df' width='60px' src='https://i.ibb.co/fq6cDdr/chrono.png ')
        mj-text(align='center' padding-top='4px' container-background-color="#0cc0df" font-size='14px' font-weight='700' line-height='120%' color='#082d64') #[span(style='color:#ffffff') 4 jours en entreprise] et #[span(style='color:#ffffff') 1 jour en formation] à l'école 
        //- Paragraphe 5
        mj-image(align='center' padding-top='10px' container-background-color='#0cc0df' width='60px' src='https://i.ibb.co/ftmNb17/service.png')
        mj-text(align='center' padding-bottom='32px' padding-top='4px' container-background-color="#0cc0df" font-size='14px' font-weight='700' line-height='120%' color='#082d64') Notre service relations #[span(style='color:#ffffff') entreprises vous accompagne] dans la recherche de votre #[span(style='color:#ffffff') contrat d'apprentissage]
        mj-image(align='center' fluid-on-mobile='true' padding='0' width='480px' src='https://i.ibb.co/qskT6FF/fondBas.png')
        
        //- Hors cartouche
        mj-image(align='center' padding-top='10px' width='35px' src='https://i.ibb.co/8xtLKPp/calendar.png')
        mj-text(align='center' font-size='14px' font-weight='700' line-height='120%' color='#124ea8') Rentrée le 18 novembre 2024 !
