//-demande d'information
mj-section(background-color='#ffffff' padding-top='0')
    mj-group(width='480px')
        mj-column( width='20%')
            mj-image(align='right' padding='10px 5px 10px 25px' width='50px' src='https://i.ibb.co/5TCDWpS/notepad.png')
        mj-column(width='80%')
            mj-text(padding-left='5px' font-size='16px' font-weight='300' line-height='120%' color='#124ea8') #[a(style='font-weight:700;color:#0cc0df' href='https://docs.google.com/forms/d/e/1FAIpQLSeb1y_6_zczktTypxfCVxafYdtk2xICmQqbz3nVIL55_Q3N5g/viewform') Inscrivez-vous dès maintenant] à une #[span(style='font-weight:700') réunion collective] où vous aurez l'occasion de découvrir l'ensemble du #[span(style='font-weight:700') programme], rencontrer la #[span(style='font-weight:700') responsable pédagogique] et #[span(style='font-weight:700') visiter l'école] !
    mj-group(width='480px')
        mj-column(width='20%')
            mj-image(align='right' padding='10px 5px 10px 25px' width='50px' src='https://i.ibb.co/JqRCY3T/phone.png')
        mj-column(width='80%')
            mj-text(padding-left='5px' font-size='16px' font-weight='300' line-height='120%' color='#124ea8') #[span(style='font-weight:700;') Contactez-nous au] #[a(style='font-weight:700;color:#0cc0df' href='tel:0320700606') 03.20.70.06.06] pour toutes questions sur #[span(style='font-weight:700') la formation, le financement, l'école...] Nous sommes là pour vous répondre !