//- Colonnes
mj-section(background-color='#ffffff')
    //- 1ère Colonne
    mj-column(width='50%' padding='10px')
        mj-image(align='center' fluid-on-mobile='true' width='300px' src='https://i.ibb.co/KzsQp6W/arg-Continue-2.gif' href='https://www.moncompteformation.gouv.fr/' alt='les atouts de la formation Secrétaire médical initiale ou continue')/
        //- Hors cartouche
        mj-image(align='center' padding-top='10px' width='35px' src='https://i.ibb.co/8xtLKPp/calendar.png')
        mj-text(align='center' font-size='14px' font-weight='700' line-height='120%' color='#124ea8') Rentrée le 18 novembre 2024 !
    //- 2e Colonne 
    mj-column(width='50%' padding='10px')
        mj-image(align='center' fluid-on-mobile='true' width='300px' src='https://i.ibb.co/bRW5PF3/arg-Apprentissage-2.gif' alt='les atouts de formation secrétaire médical initiale ou continue')/
        //- Arguments
        
        //- Hors cartouche
        mj-image(align='center' padding-top='10px' width='35px' src='https://i.ibb.co/8xtLKPp/calendar.png')
        mj-text(align='center' font-size='14px' font-weight='700' line-height='120%' color='#124ea8') Rentrée le 5 octobre 2024 !
