//- logo Ecosup Assurance
mj-section(full-width="full-width" background-color='#124ea8' padding-bottom='0')
    mj-column
        mj-image(padding-left='25px' padding-right='25px' width='180px' align='left' src='https://i.ibb.co/HtG61w3/ECOSUPSante.png' alt='Logo Ecosup Santé')/   
        mj-text(align='left' font-size='16px' line-height='20px' font-weight='900' text-transform='uppercase' color='#0cc0df') Newsletter Ecosup Santé | #[span(style='font-weight:300;color:#fefefe') Août 2024]