mj-section
    mj-column(width='380px')
        mj-text(font-size='12px' line-height='16px' font-weight='400' color='#2D3748' align='center' padding-top='0' padding-bottom='0')
            div Pour être sûr(e) de recevoir nos communications, ajoutez #[a(style='text-decoration:none;color:#2D3748;' href='mailto:contact@ecosup-campus.fr') contact@ecosup-campus.fr] dans votre carnet d'adresses.
            div: a(style='text-decoration:none;color:#343f92;' href='{{ mirror }}') Afficher dans votre navigateur web.
            div: a(style='text-decoration:none;color:#343f92;text-transform:uppercase' href='{{ unsubscribe }}') se désinscrire.
        mj-spacer(height='30px')