mj-section
    mj-column(width='380px')
        mj-social(inner-padding='0 15px' icon-size='25px' mode='horizontal')
            mj-social-element(alt='icon Linkedin' src='https://img.mailinblue.com/3403292/images/content_library/original/660d6047d0d41f3120a8cdec.png' href='https://fr.linkedin.com/company/ecosup-campus')
            mj-social-element(alt='icon Facebook' src='https://img.mailinblue.com/3403292/images/content_library/original/660d604fd0d41f3120a8cdf5.png' href='https://www.facebook.com/EcosupCamp')
            mj-social-element(alt='icon Instagram' src='https://img.mailinblue.com/3403292/images/content_library/original/660d605a373b24d832a3970d.png' href='https://www.instagram.com/ecosup.campus')