//- Colonnes
mj-section(background-color='#ffffff')
    //- 1ère Colonne
    mj-column(width='260px' padding-left='10px' padding-right='10px')
        mj-text(align='center' container-background-color='#0cc0df' padding-top='20px' font-size='22px' font-weight='700' line-height='120%' color='#ffffff') Formation Initiale ou Continue
        //- Paragraphe 1
        mj-text(align='left' container-background-color='#0cc0df' font-size='16px' font-weight='700' line-height='120%' color='#082d64') 
            ul(style='margin:0;padding-left:0;')
                li Personnes agées de #[span(style='color:#ffffff') 17 ans minimum] souhaitant faire #[span(style='color:#ffffff') une formation courte] ou ne rentrant pas dans les #[span(style='color:#ffffff') critères de l'alternance]
                li(style='padding-top:15px;') Formation payante avec possibilité de #[span(style='color:#ffffff') financement] ou #[span(style='color:#ffffff') co-financement]
                li(style='padding-top:15px;') #[span(style='color:#ffffff') Indemnisation] possible par l'organisme de financement*
                li(style='padding-top:15px;') #[span(style='color:#ffffff') stage en entreprises] au cours de votre cursus 
                li(style='padding-top:15px;') *A condition de disposer de minimum 500€ sur votre Compte Personnel de Formation
                li(style='padding-top:15px;') Pour consulter votre solde, rendez-vous sur la page #[a(style='color:#ffffff' href='https://www.moncompteformation.gouv.fr/') www.moncompteformation.gouv.fr]
        mj-image(align='center' fluid-on-mobile='true' padding='0' width='480px' src='https://i.ibb.co/qskT6FF/fondBas.png')/
        //- Hors cartouche
        mj-image(align='center' padding-top='10px' width='35px' src='https://i.ibb.co/8xtLKPp/calendar.png')
        mj-text(align='center' font-size='14px' font-weight='700' line-height='120%' color='#124ea8') Rentrée le 18 novembre 2024 !
    //- 2e Colonne 
    mj-column(width='260px' padding-left='10px' padding-right='10px')
        //- Titre
        mj-text(align='center' container-background-color="#0cc0df" padding-top='20px' font-size='22px' font-weight='700' line-height='120%' color="#ffffff") Formation en Apprentissage
        //- Arguments
        mj-text(align='left' container-background-color="#0cc0df" font-size='16px' font-weight='700' line-height='120%' color='#082d64') 
            ul(style='margin:0;padding-left:0')
                li Personnes agées de #[span(style='color:#ffffff') moins de 29 ans],
                li(style='padding-top:15px;') Formation #[span(style='color:#ffffff;padding-top:10px;') 100% gratuite],
                li(style='padding-top:15px;') Rémunération de #[span(style='color:#ffffff') 27% à 100% du SMIC en fonction de votre âge],                                                                                                                                                                                                                                                                           
                li(style='padding-top:15px;') #[span(style='color:#ffffff') 4 jours en entreprise] et #[span(style='color:#ffffff') 1 jour en formation] à l'école,
                li(style='padding-top:15px;padding-bottom:20px;') Notre service relations #[span(style='color:#ffffff') entreprises vous accompagne] dans la recherche de votre #[span(style='color:#ffffff') contrat d'apprentissage].
        mj-image(align='center' fluid-on-mobile='true' padding='0' width='480px' src='https://i.ibb.co/qskT6FF/fondBas.png')/
        //- Hors cartouche
        mj-image(align='center' padding-top='10px' width='35px' src='https://i.ibb.co/8xtLKPp/calendar.png')
        mj-text(align='center' font-size='14px' font-weight='700' line-height='120%' color='#124ea8') Rentrée le 5 octobre 2024 !
