mjml
    //- Head
    mj-head
        mj-title Let d'information SM - JUILLET 2024
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(Arial, Helvetica, sans-serif)/
            mj-image(padding='0' border='none')/
    mj-body(background-color='#edf2f7')
        //- logo
        block logo
            include ../includes/_logo
        //- contenu
        block content
        //- argument
        block argument
            include ../includes/_img
        //- demande d'information
        block contact
            include ../includes/_contact
        //- footer adresse
        block adresse
            include ../includes/_adresse
        //- footer réseaux sociaux
        block resociaux
            include ../includes/_resociaux
        //- footer législation
        block regl
            include ../includes/_regl