extends templates/_layout
block content
        //- image hero
        mj-section(full-width="full-width" background-color='#1372b8' padding='0')
            mj-column(width='100%')
                mj-image(src='https://i.ibb.co/s6Q5Q6K/AEPEimg.jpg' alt='Vous souhaitez entamer une reconversion professionnelle et vous former aux métiers de la petite enfance ?')
        //- introduction à l'annonce et titre de l'annonce
        mj-section(background-color='#ffffff' padding-bottom='0')
            mj-column(width='500px')
                mj-text(align='center' font-size='26px' font-weight='700' line-height='30px' color='#2D3748') Notre école ecosup sante située à Tourcoing près de Lille vous propose deux formations à intégrer dès la rentrée prochaine !
        //- 
        mj-section(background-color='#ffffff')
            mj-column(background-color="#dedede" border-radius='20px')
                mj-text() Formation Initiale ou Continue
                mj-group(width='100%')
                    mj-column(width='25%')
                        mj-image(src='https://imageplaceholder.net/25x25')
                    mj-column(width='75%')
                        mj-text(padding='0 10px 0 0' font-size='14px' line-height='18px') Personnes agées de 17 ans minimum souhaitant faire une formation courte ou ne rentrant pas dans les critères de l'alternance
                mj-group(width='100%')
                    mj-column(width='25%')
                        mj-image(src='https://imageplaceholder.net/25x25')
                    mj-column(width='75%')
                        mj-text(padding='0 10px 0 0' font-size='14px' line-height='18px') Formation payante avec possibilité de financement ou co-financement
                mj-group(width='100%')
                    mj-column(width='25%')
                        mj-image(src='https://imageplaceholder.net/25x25')
                    mj-column(width='75%')
                        mj-text(padding='0 10px 0 0' font-size='14px' line-height='18px') Indemnisation possible par l'organisme de financement
                mj-group(width='100%')
                    mj-column(width='25%')
                        mj-image(src='https://imageplaceholder.net/25x25')
                    mj-column(width='75%')
                        mj-text(padding='0 10px 0 0' font-size='14px' line-height='18px') Périodes de stage en entreprises au cours de votre cursus 
                mj-column
                    mj-text() 
            mj-column
                        
