extends templates/_layout
block content
        //- image hero
        mj-section(full-width="full-width" background-color='#124ea8' padding='0' background-url='https://i.ibb.co/ZH5fL3x/img-SMLet072024.jpg' background-repeat='no-repeat')
            mj-column(width='100%' vertical-align='bottom' padding-top='200px')
                mj-text(align='left' font-size='30px' font-weight='700' line-height='120%' color='#ffffff') Vous souhaitez devenir secrétaire médical(e)
        //- introduction à l'annonce et titre de l'annonce
        mj-section(background-color='#ffffff' padding='0')
            mj-column(width='90%')
                mj-text(align='center' font-size='34px' font-weight='400' line-height='120%' color='#124ea8') Notre école #[span(style='color:#0cc0df;text-transform:uppercase;font-weight:900;') ecosup santé] située à Tourcoing près de Lille vous propose #[span(style='color:#0cc0df;font-weight:900') deux formations] à intégrer #[span(style='font-weight:900') dès la rentrée prochaine !]